body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}
header{
    background-color: rgb(44, 44, 43);
    width: 100%;
    

    
}
.top-nav{
    position: 50%;
    font-size: 20px;
    position: sticky;
    padding: 10px;
    

}
.main{
    color: white;
    display: inline;
    margin-left: 10%; 
}
.manu{
    text-decoration: none;
    color: white;
    margin: 10px;
    
}
.manu:hover{
    color: rgb(255, 13, 13);
    margin: 10px;
    padding: 5px;
    border: 2px solid white;
    background-color: rgb(194, 247, 6);
    border-radius: 5px;
    transition: 1s;
    overflow: none;
}
a{
    text-decoration: none;
    color: white;
}

.hire-me{
    color: white;
    font-size: 18px;
    width: 150px;
    height: 40px;
    background-color: orangered;
    border: none;
    border-radius: 10px;
    
}
.hire-me:hover{
    color: white;
    font-size: 18px;
    width: 150px;
    height: 40px;
    background-color: green;
    transition: 1s;
    border: none;
    border-radius: 10px;
    padding-left: 50px;
}
.middle{
    display: flex;
    
}
.box{
    font-size: 17px;
    text-align: justify;
    box-shadow: 10px 10px 20px tomato;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    
    
}
h1{
    font-size: 45px;
}
.welcome{
    display: flex;
    font-size: 17px;
    text-align: justify;
    margin-left: 10%;
    padding-top: 5%;
}
.welcome-div{
    width: 50%;

}
.welcome-div img{
    width: 80%;
}
.orang-color{
    color: orange;
}
    
.portfolio-head{
    color: white;
    font-size: 25px;
    background-image: linear-gradient(red, green);
    margin: 150px 350px 20px 350px;
    text-align: center;
    border-radius: 8px;

}
.port-img{
    width: 80%;
    align-items: center;
    
}
.view-order{
    font-size: 25px;
    color: white;
    background-color: tomato;
    width: auto;
    height: auto;
    
}
.fetures-main{
    background-color: #eee;
    padding: 5px;
}

.f-head{
    color: rgb(65, 102, 11);
    text-align: center;
    margin-top: 5%;
    
    
}
.fetures{
    display:flex;
    margin: 20px 150px 100px 150px;
    padding-left: 10px;
    

}


.f-2{
    font-size: 20px;
}


.box-f{
    box-shadow: 5px 3px 5px grey;
    border-radius: 10pz;
    margin: 5px;
    padding: 5px 5px 10px 5px;
    float: left;
    
}
.box-img{
    box-shadow: none;
    background-color: orange;
    border-radius: 50%;
    max-width: auto;
    transition: 1s;
}
.box-img:hover{
    box-shadow: none;
    background-color: rgb(116, 33, 18);
    border-radius: 50%;
    transition: 1s;
}

.container{
    background-color: rgba(238, 209, 209, 0.753);
    padding: 50px;
    border-radius: 20px;
    margin: 10px 50px 0px 50px ;
    margin-bottom: 5px;
    
}
.contact-box{
    text-align: center;
    
}


input[type=text], select, textarea{
    width: 100%;
    background-color: rgb(253, 253, 253);
    border: 2px solid rgb(229, 231, 229);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    resize: vertical;
}

#submit{
    position: center;
    background-color: red;
    padding: 8px 25px;
    border: none;
    border-radius: 7px;
    text-align: center;
}


#submit:hover{
    padding: 8px 20px;
    background-color: green;
    padding: 10px 30px;
    transition: 1s;
    border: none;
    border-radius: 7px;
}
footer{
    margin-top: 100px;
    text-align: center;
}
